body{
    padding: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    background-image: url("../images/dust_scratches.png");
}

header{
    height: 70px;
    font-family: 'Georgia', Times, 'Times New Roman' , serif;
    background-color: #ffffff;    
}

.name{
    width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
}

h1{
    background-color: #4aaaa5;
    padding: 21.655px;
    width: 228px;
    color: #ffffff;
    float: left;
    margin: 0 auto;
    margin-bottom: 35px;
}   

nav{
     float: right;
     padding: 10px;
     margin-top: 16px;    
}

nav a{
    font-size: 15px;
    color: #666666d6;
    text-decoration: none;
    padding:10px;
}

#link{
    border-left: #6666661c;
    border-left-style: solid;
    border-left-width: 1px;
    border-right: #6666661c;
    border-right-style: solid;
    border-right-width: 1px;
}
 
.main-content{
    width: 920px;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    clear: both;
}

h2{
    color: #4aaaa5;
    border-bottom: #80808087;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-bottom: 17px;
}

#main-bio{
    line-height: 45px;
}

#image1{
    position: relative;
    margin-bottom: 20px;
}

#image2{
    right: 460px;
    position: relative;
    margin-bottom: 20px;
    float: right;
    bottom: 177px;
}

#image3{
    position: relative;
    margin-bottom: 20px;
}

#image4{
    float: right;
    position: relative;
    margin-bottom: 20px;
    right: 460px;
    bottom: 177px;
}

#image5{
    position: relative;
    margin-bottom: 20px;
}

#tag1{
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    padding: 0;
    width: 200px;
}  
    
#tag2{
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    padding: 0;
    width: 200px;
}  

#tag3{
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    padding: 0;
    width: 200px;
}  

#tag4{
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    padding: 0;
    width: 200px;
}  

#tag5{
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    padding: 0;
    width: 200px;
} 

h3{
    text-align: center;
    color: #ffffff;
    font-size: 14px;  
}

#bio-image{
    float: left;
    margin-right: 30px;
}

p1{
    font-size: 15px;
    color: #777777;
}

footer{
    padding-top: 30px;
    color:#ffffff;
    text-align: center;
    font-size: 12px;
    background-color: #666666;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    right:0;
    clear: left;
}